.content-bet-limit {
  padding-bottom: 0;

  .react-bs-table {
    th:nth-child(1),
    td:nth-child(1),
    th:nth-child(2),
    td:nth-child(2) {
      border-left: none;
      width: 80px !important;
      min-width: 80px !important;
    }

    th:nth-child(3),
    td:nth-child(3) {
      width: 70px !important;
      min-width: 70px !important;
    }

    th:nth-child(4),
    td:nth-child(4) {
      width: 180px !important;
      min-width: 180px !important;
    }

    th:nth-child(5),
    td:nth-child(5) {
      width: 70px !important;
      min-width: 70px !important;
    }

    th:nth-child(6),
    td:nth-child(6),
    th:nth-child(7),
    td:nth-child(7) {
      width: 70px !important;
      min-width: 70px !important;
    }

    th:nth-child(7),
    td:nth-child(7) {
      border-right: 0;
    }

    th:nth-child(8),
    td:nth-child(8) {
      width: 20px !important;
      min-width: 20px !important;
      border-left: 0;

      .dropdown-menu {
        top: -6px;
        padding: 0 0;

        li {
          padding: 0;

          a:hover {
            border-radius: 3px;
          }

        }

      }

    }

  }

}

.content-bet-limit-details {
  .fa-pencil-square-o {
    cursor: pointer;
    margin-left: 10px;
  }

  table.details {
    width: auto;

    td:nth-child(1) {
      min-width: 180px;
      max-width: 180px;
    }

    td {
      font-size: 14px;
      padding: 2px 5px;

      strong {
        font-size: 13px;
      }

    }

  }

  table.details-date {
    width: auto;

    td:nth-child(1) {
      min-width: 90px;
      max-width: 90px;
    }

  }

  .bet-values-table {
    .react-bs-table {
      th:nth-child(1),
      td:nth-child(1) {
        width: 70px !important;
        min-width: 70px !important;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 350px !important;
        min-width: 350px !important;
      }

    }

  }

  .bet-limits-table {
    .react-bs-table {
      th:nth-child(1),
      td:nth-child(1),
      th:nth-child(2),
      td:nth-child(2) {
        width: 120px !important;
        min-width: 120px !important;
      }

      th:nth-child(3),
      td:nth-child(3),
      th:nth-child(4),
      td:nth-child(4) {
        width: 120px !important;
        min-width: 120px !important;

        div {
          padding-top: 1px;
        }

      }

      th:nth-child(5),
      td:nth-child(5),
      th:nth-child(6),
      td:nth-child(6) {
        width: 90px !important;
        min-width: 90px !important;
      }

      th:nth-child(6),
      td:nth-child(6) {
        border-right: 0;
      }

      th:nth-child(7),
      td:nth-child(7) {
        width: 20px !important;
        min-width: 20px !important;
        border-left: 0;
      }

    }

  }

}
