.charts-operator {
  position: relative;

  .title-operator {
    background: white;
    padding: 0 10px 0 10px;
    margin: 0 20px 10px 20px;
    line-height: 38px;
    font-size: 14px;
    display: block;
    height: 38px;
    border-bottom: 1px solid #ccc;
  }

  .operator-list-wrap {
    overflow: auto;
    display: flex;
    padding: 0 10px 10px 30px;
    position: relative;
    flex-direction: column;
  }

  ul {
  }

  ul ul {
    margin-left: 10px;
    padding-left: 0;
    padding-top: 0;
    height: auto;
    overflow: none;
  }

  ul li {
    margin-bottom: 5px;
    position: relative;
    clear: both;
    float: none;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 100%;
  }

  ul li > i {
    position: absolute;
    font-size: 15px;
    left: -12px;
    cursor: pointer;
    color: #AAA;

    &.fa-caret-down {
      left: -16px;
    }

  }

  ul li ul {
    margin-top: 10px;
  }

  .checkbox-wrap {
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    display: inline-block;
  }

  input[type="checkbox"] {
    margin: 0;
    display: inline-block;
  }

  .buttons {

    /* animation: pulse .5s;*/
    padding: 10px 0;
    display: block;
    bottom: 0;
    text-align: center;

    .btn-default {
      margin-right: 10px;
    }

  }

}