.charts-total-bets {
  border: 1px solid #ccc;
  padding: 0 0 0 0;
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow-y: hidden;

  .loading-small {
    display: block;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .square-check {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;

    strong {
      font-size: 12px;
      display: inline-block;
      padding-left: 5px;
    }

  }

  .operators {
    padding: 0 20px;
  }

  h2,
  h3 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .tick {
    font-size: 12px;
    color: #333 !important;
  }

  .tick.zero {
    line {
      stroke: #000 !important;
    }

  }

  .cb-wrap {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;

    .cv-box {
      display: flex;
      flex-direction: row;
      text-align: center;
      width: 25px;
      height: 25px;
      align-items: center;

      input {
        display: inline-block;
        margin: 0 auto;
      }

    }

  }

  .refresh {
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  svg {
    width: 100%;    /* height: 500px;*/
    margin-top: 0;
  }

  .nv-chart {

    /*height: 500px;*/
    width: 100%;
  }

  .nvd3 .nv-legend .nv-series {
    display: none;
  }

  .nv-cumulativeLine {
    text.tempDisabled {
      display: none;
    }

  }

  .t-center {
    animation: pulse .7s;
  }

  .chart-border {
    border-top: 1px solid #444;
    margin: 0 50px 0 60px;
    position: relative;
    top: -50px;
  }

}