.content-dashboard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.content-welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  text-align: center;
  font-size: 80px;
  color: #ccc;
}

.content-dashboard {
  position: relative;
  display: block;
}

.content-dashboard {
  padding-right: 270px;

  .flex {
    width: auto;
  }

  .drop-accept {

    /*width: 40%;
    */
    min-width: 450px;
    border: 1px dotted #ccc;
    margin-right: 40px;
    min-height: 300px;
    padding: 10px;
    box-sizing: border-box;
    display: block;

    h4 {
      padding: 0;
      margin: 0;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 15px;
    }

    .wiget-wrapper {
      padding: 10px;
      box-sizing: border-box;
    }

  }

  .drop-accept a {
    position: relative;    /*border: 1px dotted #ccc;*/
    padding: 5px;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;

    em {
      display: table;
      position: absolute;
      right: 4px;
      top: 4px;
      border: 1px solid #ccc;
      text-align: center;
      padding: 0;
      cursor: pointer;
      z-index: 2;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      i {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

    }

  }

  .tool-box {
    width: 250px;
    border-left: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: fixed;
    right: 20px;
    top: 100px;
  }

  .tool-box h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
  }

  .tool-box a {
    display: block;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    text-decoration: none;
    display: block;
    color: #333;
  }

}

@keyframes close-ops {
  from {
    width: inherit;
  }

  to {
    width: 0;
  }

}

@keyframes open-ops {
  from {
    width: 0;
  }

  to {
    width: auto;
  }

}

.content-dashbord-charts {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  box-sizing: content-box;

  .spinner-wrapper {
    width: 100%;
  }

  #chart-column-1 {
    min-width: 200px;
    overflow: hidden;
    flex-grow: 30;

    .chart-column-1-inside {
      overflow: none;
    }

    #chart-column-1-wrap {
      overflow: auto;
      padding: 0 20px 0 20px;
    }

    .chart-column-1-wrap-bottom {
      padding: 0 0 0 0;
      display: table;
      width: 100%;
    }

    .cc-bottom-left {
      display: table-cell;
      box-sizing: border-box;
    }

    .cc-bottom-middle {
      width: 20px;
      display: table-cell;
      box-sizing: border-box;
    }

    .cc-bottom-right {
      display: table-cell;
      box-sizing: border-box;
      width: 50%;
    }

    .with-border {
      border: 1px solid #ccc;
    }

  }

  #chart-column-2 {
    min-width: 8px;
    width: 8px;
    background: white;
    position: relative;
    box-sizing: content-box;
    cursor: col-resize;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

    /* height: 100%;*/
    .chart-column-2-wrap {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .d-arrow {
      padding: 0;
      width: 8px;
      box-sizing: border-box;
      display: block;
      height: 40px;
      line-height: 100%;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: auto;
      bottom: auto;
      display: block;
      margin: auto;
      background: #666;
      font-size: 14px;
      display: table;
      cursor: pointer;
      z-index: 7;
      border: 1px solid #666;

      &:before {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-family: 'FontAwesome';
        content: "\f105";
      }

    }

    em {
      position: absolute;
      left: 25px;
      top: 10px;
      width: 20px;
      height: 20px;
      font-size: 16px;
      color: #444;
      font-family: 'FontAwesome';
      cursor: pointer;
      z-index: 9;

      &:before {
        content: "\f105";
      }

    }

    &.inactive {
      cursor: default;

      em {
        left: 20px;

        &:before {
          content: "\f104";
        }

      }

      .d-arrow {
        &:before {
          content: "\f104";
        }

      }

    }

  }

  #chart-column-3 {
    background: white;
    min-width: 200px;
    width: 200px;
    max-width: 800px;
    margin: 0;
    flex-grow: 1;

    &.inactive {

      /*animation-name: close-ops;
      animation-duration: .1s;*/
      min-width: 30px;
      width: 30px;
      max-width: 30px;
      background: white;
      border-left: 1px solid #fff;
      margin: 0;

      .charts-operator {
        .title-operator {
          padding-top: 20px;
          text-align: center;
          border-bottom: none;
          padding-left: 10px;
          margin: 0;

          strong {
            display: block;
            letter-spacing: 2px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            -ms-transform: rotate(90deg);
          }

        }

        .buttons {
          display: none;
        }

        .operator-list-wrap {
          padding: 0;
          margin: 0;

          ul {
            display: none;
          }

        }

      }

      &.zh_CN {
        .charts-operator {
          .title-operator {
            line-height: normal;
            margin-top: 10px;
            padding-left: 7px;

            strong {
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -ms-transform: rotate(0deg);
            }

          }

        }

      }

    }

  }

}