@import "./fonts.css";

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #444;
  padding: 0;
  margin: 0;
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

em {
  font-style: normal;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.dropdown-menu > li > a {
  cursor: pointer;
}