/*.drag-app*/
.drag-app {
  position: relative;
  min-width: 8px;
  padding: 0;  /*border-right: 1px solid #ccc;
          border-left: 1px solid #ccc;*/
  text-align: center;
  cursor: col-resize;
  box-sizing: border-box;
  text-align: center;
  background: #ccc;

  .m-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .d-arrow {
    padding: 0;
    width: 8px;
    box-sizing: border-box;
    display: block;
    height: 40px;
    line-height: 100%;
    position: absolute;
    text-align: center;
    left: -1px;
    right: 0;
    top: auto;
    bottom: auto;
    display: block;
    margin: auto;
    background: #666;
    font-size: 14px;
    display: table;
    cursor: pointer;
    z-index: 1;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;

    &:before {
      padding: 0;
      display: table-cell;
      vertical-align: middle;
      color: white;
      font-family: 'FontAwesome';
      content: "\f104";
    }

  }

  em {
    position: absolute;
    left: -25px;
    top: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #444;
    font-family: 'FontAwesome';
    cursor: pointer;

    &:before {
      content: "\f060";
    }

  }

  .m-c-top {

    /*color: white;*/
  }

  &.inactive {
    cursor: auto;

    em {
      &:before {
        content: "\f061";
      }

    }

    .d-arrow {
      &:before {
        content: "\f105";
      }

    }

  }

}