.drop-down-search-multi {
  display: block;
  position: relative;
  height: auto;

  &.active {
    border: 1px solid #e6e6e6;
  }

  .btn-tab {
    padding: 0 2px 0 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    line-height: 100%;
    min-height: 34px;
    height: 34px;
    display: table;
    width: 100%;

    &:hover,
    &.hover {
      border: 1px solid #ccc;
      cursor: pointer;
    }

    &.active {
      border-radius: 4px 4px 0 0;
      border: 1px solid #ccc;
    }

    &.active-selected {
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #f5f5f5;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: #eeeeee;
      opacity: 1;
    }

  }

  .title {
    display: table-cell;
    padding: 1px 18px 1px 0;
  }

  .caret-holder {
    display: table-cell;
    width: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .fa-caret-down {

    /*right: 10px;
    position: absolute;
    top: 10px;*/
  }

  .auto-block {
    position: relative;
  }

  .bar-block {
    background: #fff;
    position: absolute;
    top: -2px;
    width: 100%;
    min-width: 130px;
    z-index: 9;
    border: 1px solid #ccc;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 3px 3px;

    &.auto {
      min-width: auto;
    }

  }

  .seach-block {
    padding: 10px;
    border-bottom: 1px solid #ccc;

    input {
      padding-right: 25px;
    }

  }

  .search-spinner {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .no-search {
    text-align: right;
  }

  .no-search-spinner {
    position: absolute;
    right: 10px;
    top: 8px;
  }

  .list-block {
    position: relative;
    min-height: 30px;

    .no-match {
      padding: 10px;
      margin: 0;
      color: #999;
    }

  }

  .super-small {
    border: none;
    background: none;
    height: 1px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    box-shadow: none;
    color: transparent;
    cursor: default;
    opacity: 0;
  }

  .selected-items {
    li {
      border: 1px solid #e4e4e4;
      border-radius: 3px;
      background: #f9f9f9;
      color: #666;
      white-space: normal;
      text-align: left;
      position: relative;
      float: left;
      padding: 5px 15px 5px 5px;
      line-height: 100%;
      margin: 2px 0 2px 2px;
      cursor: default;

      .remove-item {
        color: #333;
        position: absolute;
        right: 0;
        cursor: pointer;
        top: 5px;
        width: 14px;
        height: 14px;
        display: block;
        text-align: center;
      }

    }

  }

  .the-list {
    padding: 1px;
    max-height: 200px;
    overflow: auto;

    li {
      padding: 5px 10px;
      border: 0;
      border: 1px solid #fff;
      display: table;
      width: 100%;

      &.selected-list {
        background: #e6e6e6;
        cursor: pointer;
      }

      &.hover-list {
        background: #f5f5f5;
        cursor: pointer;
        border: 1px solid #66afe9;
      }

      .checkbox-wrap {
        border: none;
        display: table-cell;
        width: 20px;
        line-height: 100%;
        vertical-align: middle;

        input[type=checkbox] {
          height: 16px;
          width: 16px;
          line-height: 100%;
          display: block;
          float: left;
          margin: 0;
        }

      }

      .checkbox-label {
        display: table-cell;
        vertical-align: middle;
        line-height: 100%;
        padding-right: 10px;
      }

    }

  }

}