#header-app {
  background: #f5f5f5;

  .spin {
    display: block;
    height: auto;
    padding: 10px;
    text-align: center;

    i {
      font-size: 30px;
    }

  }

}

header {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header .header-wrap {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 5px 10px;
  align-items: center;
}

header .h-left {
  flex-grow: 1;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
}

header .h-right {
  padding-right: 40px;
}

header .logo {
  width: 120px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: url(../img/QTLogo-120.png) no-repeat center;
  background-size: contain;
  display: table-cell;
}

.h-right {
}

header .defaultflag {
  margin: 0;
  width: 60px;

  .flag {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(../img/flags.png) no-repeat top left;
    background-size: cover;
    display: inline-block;
    float: left;
  }

  .en_US {
    background-position: top left;
  }

  .zh_CN {
    background-position: top right;
  }

  .noFlag {
    background: none;
  }

  &:hover {
    border: 1px solid #ccc;    /*.caret {
                                                          display: inline-block;
                                                        }*/
  }

}

header .nav-right {
  li {
    display: inline-block;

    li {
      display: block;
      padding-top: 0;
      border: none;

      a {
        text-decoration: none;
      }

    }

  }

  .defaultflag {
    li {
      position: relative;

      &:before {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        right: 5px;
        background: url(../img/flags.png) no-repeat top left;
        background-size: cover;
        top: 4px;
      }

    }

    li.zh_CN {
      &:before {
        background-position: top right;
      }

    }

    li.noFlag {
      text-align: center;

      &:before {
        display: none;
      }

    }

  }

  .user {
    li {
      a {
        margin: 0;
      }

    }

    em {
      display: inline-block;
      padding-left: 10px;
    }

  }

  .divider {
    text-align: center;
    padding: 0 20px;
  }

  .btn-group .dropdown-toggle.btn.btn-default {
    border: none;
    background: #f5f5f5;
    box-shadow: none !important;
    padding: 0;
  }

  .btn-group.open .dropdown-toggle.btn.btn-default {
    background: #f5f5f5;
    box-shadow: none;
  }

  .user,
  .defaultflag {
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    padding: 10px;

    &:hover {
      border: 1px solid #ccc;
    }

  }

  .selectedTimezone {
    color: #0050b3;
  }

}

header .header-search {
  width: 350px;
  margin-right: 40px;
  position: relative;

  input {
    padding-right: 30px;
  }

  .fa-search {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #666;
    cursor: pointer;
  }

}

header .nav-right li li.timezone {
  position: relative;

  a {
    position: relative;

    .fa {
      right: 10px;
      top: 5px;
      position: absolute;
    }

  }

  ul {
    position: absolute;
    left: -160px;
    top: 0;
    width: 150px;
    display: none;
    min-height: 36px;
  }

}

header .nav-right li li.timezone:hover {
  ul {
    display: block;
  }

}