.bold {
  font-weight: bold;
}

.liner {
  border-bottom: 1px solid #ccc;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.no-margin-i {
  margin: 0 !important;
}

.block {
  display: block;
}

.d-table {
  display: table;
}

.inline-block {
  display: inline-block;
}

.m-l-0 {
  margin-left: 0;
}

.m-l-0-i {
  margin-left: 0 !important;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-0-i {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-5-i {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-10-1 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.m-r-0 {
  margin-right: 0;
}

.m-r-0-i {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.no-padding {
  padding: 0;
}

.no-padding-i {
  padding: 0 !important;
}

.p-10 {
  padding: 10px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-0-i {
  padding-left: 0px !important;
}

.p-l-2 {
  padding-left: 3px;
}

.p-l-3 {
  padding-left: 3px;
}

.p-l-4 {
  padding-left: 4px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-10-i {
  padding-left: 10px !important;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-0-i {
  padding-right: 0 !important;
}

.p-r-0 {
  padding-right: 0;
}

.p-r-1 {
  padding-right: 1px;
}

.p-r-2 {
  padding-right: 2px;
}

.p-r-3 {
  padding-right: 3px;
}

.p-r-4 {
  padding-right: 4px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-10-i {
  padding-right: 10px !important;
}

.p-r-20 {
  padding-right: 10px;
}

.p-l-0-i {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0px;
}

.pt-0-i {
  padding-top: 0px !important;
}

.pt-3 {
  padding-top: 3px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-5-i {
  padding-top: 5px !important;
}

.pt-8 {
  padding-top: 8px;
}

.pt-8-i {
  padding-top: 8px !important;
}

.pt-10 {
  padding-top: 10px;
}

.pt-10-i {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.generate {
  font-size: 20px;
  align-self: center;
  cursor: pointer;
}

.error {
  padding-top: 10px;
  color: red;
}

.error-2 {
  padding-top: 5px;
  color: red;
  padding-bottom: 5px;
}

.dark-red {
  color: #660000;
}

.red {
  color: red;
}

.blue {
  color: #3b73af;
}

.orange {
  color: #dfc422;
}

.orange-2 {
  color: #ea9513;
}

.orange-3 {
  color: #df7d19;
}

.green {
  color: green;
}

.gray {
  color: #ccc;
}

.gray-i {
  color: #ccc !important;
}

.gray-2 {
  color: #9a9a9a;
}

.loadme i {
  font-size: 50px;
}

label {
  align-self: center;
}

.color-red {
  color: #F00;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.clearfix {
  @include clearfix;
}

.center-block {
  @include center-block;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  @include text-hide;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.pml-0 {
  padding-left: 0 !important;
  margin-left: 0;
}

.pmr-0 {
  padding-right: 0 !important;
  margin-right: 0;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
}

.flex {
  display: flex;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.upper-case {
  text-transform: uppercase;
}

/* just for modal label */
.modal-dialog .row {
  label {
    padding-top: 8px;
  }

}

.pos-top-15 {
  top: 15px;
}

.pos-left-20 {
  left: 20px;
}

.w-10 {
  width: 10px;
}

.w-20 {
  width: 20px;
}

.w-30 {
  width: 30px;
}

.w-40 {
  width: 40px;
}

.w-42 {
  width: 42px;
}

.w-50 {
  width: 50px;
}

.w-50-i {
  width: 50px !important;
}

.w-60 {
  width: 60px;
}

.w-65 {
  width: 65px;
}

.w-70 {
  width: 70px;
}

.w-80 {
  width: 80px;
}

.w-90 {
  width: 90px;
}

.w-100 {
  width: 100px;
}

.w-110 {
  width: 110px;
}

.w-120 {
  width: 120px;
}

.w-130 {
  width: 130px;
}

.w-140 {
  width: 140px;
}

.w-150 {
  width: 150px;
}

.w-160 {
  width: 160px;
}

.w-170 {
  width: 170px;
}

.w-180 {
  width: 180px;
}

.w-190 {
  width: 190px;
}

.w-200 {
  width: 200px;
}

.w-45-percent {
  width: 45%;
}

.w-46-percent {
  width: 46%;
}

.w-47-percent {
  width: 47%;
}

.w-48-percent {
  width: 48%;
}

.w-49-percent {
  width: 49%;
}

.w-50-percent {
  width: 50%;
}

.m-w-380 {
  max-width: 380px;
}

.elips {
  text-overflow: ellipsis
}

.true-em {
  font-style: italic;
}

.true-em-i {
  font-style: italic !important;
}

.true-em-i-all > * {
  font-style: italic !important;
}

.line-top {
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
  line-height: 10px;
  height: 10px;
}

.line-bottom {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  line-height: 10px;
  height: 10px;
}

.v-middle {
  vertical-align: middle;
}

.border-bottom-dot {
  border-bottom: 1px dotted #ccc;
}

.spacer {
  display: block;
  height: 10px;
}

.spacer-5 {
  display: block;
  height: 5px;
}

.spacer-15 {
  display: block;
  height: 15px;
}

.spacer-20 {
  display: block;
  height: 20px;
}

.spacer-25 {
  display: block;
  height: 25px;
}

.spacer-40 {
  display: block;
  height: 40px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.min-width-75 {
  min-width: 75px;
}

.min-width-80 {
  min-width: 80px;
}

.min-width-85 {
  min-width: 85px;
}

.min-width-90 {
  min-width: 90px;
}

.float-right {
  float: right;
}

.float-right-i {
  float: right !important;
}

.float-left {
  float: left;
}

.float-left-i {
  float: left !important;
}

.clear-both {
  clear: both;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.thick-border-input {
  input[type="text"] {
    border: 2px solid #666;
  }

}

.custom {
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 3px;
    margin-right: 5px;
    float: left;
  }

}
