.signIn-form.form-horizontal {
  box-sizing: border-box;
  position: relative;
  top: 30%;
  background: #f1f1f1;
  margin: 5em auto 0 auto;
  padding: 2em;
  border-radius: 0.5em;
  max-width: 500px;

  fieldset {
    border: 0;
  }

  .logo {
    width: 100%;
    height: 75px;
    background: url(../img/QTLogo-489x148.png) no-repeat center;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 3.5em;
  }

  .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
  }

  .input-group-addon,
  input {
    font-size: 1.35em;
    height: 40px;
  }

  .input-group-addon {
    background: #fff;
  }

}

.login {
  .btn-lg {
    font-size: 2em;
    text-transform: uppercase;
    background-color: #c00;
    outline: none;
  }

  .btn-lg:hover {
    color: #fff;
    background-color: #bc0000;
    border-color: #ac2925;
  }

}