@keyframes close-nav {
  from {
    width: inherit;
  }

  to {
    width: 0;
  }

}

@keyframes open-nav {
  from {
    width: 0;
  }

  to {
    width: auto;
  }

}

#nav-app {
  .spin {
    display: block;
    height: auto;
    padding: 10px 20px;
    text-align: center;

    i {
      font-size: 30px;
    }

  }

}

.nav-app {
  background: #f5f5f5;

  &.active {
    ul,
    h3 {

      /* animation: fadeIn ease-in 1;
      animation-duration: 1s;*/
      display: block;
    }

    &.zh_CN {
      min-width: 105px;
      width: 105px;
    }

    &.en_US {
      min-width: 140px;
      width: 140px;
    }

  }

  &.inactive {
    width: 30px !important;
    animation-name: close-nav;
    animation-duration: .1s;
    background: #ccc;
    border-right: 1px solid #f5f5f5;

    ul,
    h3 {
      display: none;
    }

    .side-nav-title {
      padding-top: 35px;
      text-align: center;
      border-bottom: none;
      padding-left: 10px;

      strong {
        display: block;
        letter-spacing: 2px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
      }

    }

  }

  .navlist {
    animation: pulse .7s;
  }

}

.side-nav-title {
  color: #444;
  background: #ccc;
  position: relative;
  font-weight: bold;
  padding: 10px 10px 10px 20px;
  position: relative;
  font-size: 16px;  /*border-bottom: 1px solid #ccc;*/
}

.main-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;

  .navlist {
    padding: 10px 20px;
  }

  h3 {
    font-size: 13px;
    margin: 0;
    padding: 0;
    cursor: auto;
  }

  h3:hover {
    text-decoration: none;
  }

  ul {
    padding: 0 0 10px 0;
    box-sizing: border-box;
  }

  ul.sub {
    padding-left: 10px;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    text-decoration: underline;
  }

  li.normal {
    cursor: default;
  }

  li.normal:hover {
    text-decoration: none;
  }

}

.main-nav ul {
}