.content-operators {
  padding-right: 20px;
  padding-bottom: 0;

  .table-container {
    box-sizing: border-box;

    td {
      word-break: break-all;

      em {
        word-break: break-all;
      }

    }

  }

  /*
  fix width
  */
  .react-bs-table,
  .table-header,
  .table-container {
    th:nth-child(1),
    td:nth-child(1) {
      width: 90px !important;
      min-width: 90px !important;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 70px !important;
      min-width: 70px !important;
    }

    th:nth-child(3),
    td:nth-child(3) {
      width: 70px !important;
      min-width: 70px !important;
    }

    th:nth-child(4),
    td:nth-child(4) {
      width: 70px !important;
      min-width: 70px !important;
    }

    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6) {
      width: 70px !important;
      min-width: 70px !important;
    }

    th:nth-child(7),
    td:nth-child(7),
    th:nth-child(8),
    td:nth-child(8) {
      width: 60px !important;
      min-width: 60px !important;
    }

    th:nth-child(9),
    td:nth-child(9) {
      width: 45px !important;
      min-width: 45px !important;
      max-width: 45px !important;
      border-right: 0;
    }

    th:nth-child(10),
    td:nth-child(10) {
      width: 20px !important;
      min-width: 20px !important;
      border-left: 0 !important;
      padding-right: 20px;
    }

  }

}

.edit-operators {
  .edit-left {
    width: 60%;
    float: left;
  }

  .edit-right {
    float: right;
    width: 40%;
  }

}

.margin-10px {
  margin-top: -10px;
}

.fontWeight-normal {
  font-weight: normal !important;
}

.operator-dashboard {
  min-width: 700px;

  label {
    font-size: 12px;
    min-width: 100px;
    max-width: 100px;
  }

  .qt-play-settings {
    label {
      max-width: 150px;
    }

  }

  .btn-link {
    color: #444;    /*font-size: 1.17em;*/
    text-decoration: none;
    padding: 0px 12px;
    line-height: normal;

    &:hover {
      color: #000;
    }

  }

  ul.providersList li {
    margin-bottom: 5px;
  }

  .row.bottom-xs {
    position: absolute;
    bottom: 20px;
    min-width: 300px;
  }

  .operator-actionlink {
    button {
      margin-right: 5px;
    }

  }

  .qt-widget {
    max-width: 720px;
    min-width: 500px;
  }

}

.content-operator-dashboard {
  position: relative;
  padding-bottom: 0;

  .user-details-actionlink {
    position: fixed;
    bottom: 15px;

    button {
      margin-right: 10px;
    }

  }

}

.editOperatorDetails {
  h4.commentTitle {
    margin: 0;
    padding: 0;
    margin-bottom: -1.20em;
  }

  .no-margin {
    margin: 0;
  }

  .align-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
  }

}

.error.providersError {
  padding-top: 0px;
  position: absolute;
  bottom: -40px;
}

.error.paymentPlanError {
  padding-top: 0px;
  position: absolute;
  bottom: -52px;
}

.payment-plan-form.radio {
  padding-top: 0;
  position: relative;
  min-height: 0;

  label {
    line-height: 1.5em;
    padding-right: 15px;
  }

}

.form-create-operator {
  .payment-plan-form.radio {
    margin-top: 1.3em;
  }

}

.form-edit-paymentplan.form-group {
  margin: 0;
  position: relative;

  label {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0 0 10px 20px;
  }

}
