* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  border: 5px solid red;
}

body {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #444;
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: hidden;
  background: white;
}
