@import "_grid-fix.css";

body {
  box-sizing: content-box;
}

header .header-wrap,
#main-app {
  display: table;
  width: 100%;
}

header .h-left,
header .h-right {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

header .h-right {
  width: 90px;
}

.login {
  .row {
    display: table;
    text-align: center;
    width: 100%;
    margin: 0;

    form {
      margin: 0 auto;
      float: none;
      display: block;
    }

    .alert {
      margin-left: auto;
      margin-right: auto;
      float: none;
      display: block;
    }

  }

}

#toast-container.toast-top-center {
  margin: 0 auto !important;
  left: 50%;
  right: 50%;
  float: none;
}